name: Main

on:
  push:
    tags: [v*.*.*]

permissions:
  contents: read

jobs:
  github-deploy:
    name: Release to GitHub
    if: github.ref_type == 'tag'
    environment: github-releases
    permissions:
      contents: write
    env:
      CHANGELOG: https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md
      PRERELEASE: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Create GitHub Release
        run: |
          gh release create ${GITHUB_REF_NAME} \
            --title ${GITHUB_REF_NAME} \
            --notes="See [the CHANGELOG](${CHANGELOG}) for more details." \
            --draft=${PRERELEASE} \
            --prerelease=${PRERELEASE}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
